.sticky-note {
    transform: translateY(0px);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.sticky-note:hover {
    transform: translateY(-2px);
}

.sticky-note > div > p {
    opacity: 0.6;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.sticky-note:hover > div > p {
    opacity: 1;
}
