.sticky-note {
    transform: translateY(0px);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    /* opacity: 0;
    animation: fadeIn 300ms ease-in calc(var(--n) * 100ms) 1;
    animation-fill-mode: forwards; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sticky-note:hover {
    transform: translateY(-2px);
}

.sticky-note > div > p {
    opacity: 0.6;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.sticky-note:hover > div > p {
    opacity: 1;
}

.sticky-note-placeholder {
    opacity: 0;
    animation: fadeIn 300ms linear 1s 1 normal forwards;
}

.sticky-note-placeholder-shine {
    bottom: 0;
    transform-origin: top left;
    transform: translateY(100%) translateX(50%) rotateZ(-45deg);
    animation:
        swipeLeft 500ms linear 0s infinite normal backwards,
        delayAnimation 1500ms linear infinite;
}

@keyframes swipeLeft {
    from {
        transform: translateY(100%) translateX(50%) rotateZ(-45deg);
    }
    to {
        transform: translateY(100%) translateX(-60%) rotateZ(-45deg);
    }
}

@keyframes delayAnimation {
    0% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    33.34% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
